#one {
    background-color: rgb(212, 125, 125);
}
#two {
    background-color: rgb(85, 85, 224);
}
#three {
    background-color: rgb(27, 180, 27);
}
#four {
    background-color: yellow;
}
#five {
    background-color: lightblue;
}
#six {
    background-color: lightpink;
}

#e1 {
    background-color: blue;
}

#e2 {
    background-color: red;
}

#e3 {
    background-color: yellow;
}

img {
    object-fit: cover;
}